*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #f3f3f3;
  color: #333;
  font-family: "Montserrat", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  max-width: 1080px;
  margin: auto;
  padding: 0 1.5rem;
}
